---
layout: default
---

<div class="home">

  <div class="posts">
    {% for category in site.index %}
      <div class="post">
        <h3 class="h3 post-title">{{ category.category }}</h3>
        <ul>
          {% for article_hash in category.articles %}
            <li style="list-style:none;">
              {% for article in article_hash %}
              <a href="{{ article[1] | prepend: '/articles/' | prepend: site.baseurl }}" class="post-link">
                <p class="post-title" style="font-weight:300">{{ article[0] }}</p>
              </a>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

  <!-- {% include pagination.html %} -->
</div>
