---
layout: default
---

<div class="home">

  <div class="posts">
    {% for category in site.index %}
      <div class="post">
        <h3 class="h3 post-title">{{ category.category }}</h3>
        <ul>
          {% for article in category.articles %}
            <li>
              <a href="{{ article | prepend: '/articles/' | prepend: site.baseurl }}" class="post-link">
                <h3 class="h4 post-title">{{ article }}</h3>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

  <!-- {% include pagination.html %} -->
</div>
