img.site-brand {
	height: 30px;
}
img + span.site-subbrand {
	margin-left: 10px;
    color: #7a7a7a;
    font-size: 18px;
}
.article-summary {
  font-weight: 300;
}

.post-content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.post-content p, .post-content li {
	font-size: 16px;
}

p.capitalize {
    text-transform: capitalize;
}